# ---- Java / Maven / IDE ----

# Maven'in derleme çıktıları
target/
**/target/

# IDE klasörleri (Eclipse, IntelliJ, VSCode vs.)
.project
.classpath
.settings/
.idea/
*.iml
.vscode/

# Log dosyaları / klasörleri
*.log
logs/
log/
out/

# OS veya geçici dosyalar
*.swp
*.swo
*.tmp
.DS_Store
Thumbs.db
